---
const personalImageAlt = "Daniel Rojas";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel, pero mis amigos me llaman Danro. Empecé en la
      programación a los 18 años. Actualmente estoy <strong
        >culminando mis estudios universitarios en la Universidad de las
        Ciencias Informáticas</strong
      >.
    </p>
    <p>
      Soy especialista en desarrollo frontend con <strong
        >React y TypeScript</strong
      >, tecnologías con las que he construido aplicaciones interactivas,
      escalables y optimizadas para una excelente experiencia de usuario. Mi
      enfoque está en mantener un código limpio, eficiente y reutilizable,
      integrando siempre las mejores prácticas de la industria.
    </p>
    <p>
      Además, cuento con una <strong
        >certificación en SCRUM por CertiProf</strong
      >, y he completado <strong
        >cursos en Platzi, como React.js y Desarrollo de Chatbots con OpenAI</strong
      >, fortaleciendo mi capacidad de crear soluciones innovadoras y efectivas.
    </p>

    <img
      width="200"
      height="200"
      src="/me.jpg"
      alt={personalImageAlt}
      class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
      style="object-position: 50% 50%"
    />
  </div>
</article>
